<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rule to rewrite all paths to index.html for SPA routing -->
        <rule name="SPA Routing" stopProcessing="true">
          <match url="^(?!.*\.\w{2,4}$).*" /> <!-- Match any URL that doesn't have a file extension -->
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
